#form_image {
	margin: 0 0 -88px 0;
}

.form_image_wrap_image {
	margin: 0 auto -46px;
	max-width: 240px !important;
	position: relative;
}

.form_image_wrap_image img {
	width: 240px !important;
}

#to_form {
	width: 70%;
	font-size: 17px;
	padding: 15px 16px 0px;
	display: block;
	margin: 0 auto;
	border-radius: 7px;
	background-image: linear-gradient(90deg, rgb(31, 71, 203) 50%, transparent 50%), linear-gradient(90deg, rgb(31, 71, 203) 50%, transparent 50%), linear-gradient(0, rgb(65, 97, 204) 50%, transparent 50%), linear-gradient(0, rgb(25, 49, 127) 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
	animation: marching-ants 400ms infinite linear;
}

@media (max-width: 589px) {
	#to_form {
		 width: 95%;
	}
}

.formborder {
	display: flex;
	padding: 0px 5px;
	gap: 10px;
}

.intext {
	width: 50%;
}

@keyframes marching-ants {
	0% {
		 background-position: 0 0, 10px 100%, 0 10px, 100% 0;
	}

	100% {
		 background-position: 10px 0, 0 100%, 0 0, 100% 10px;
	}
}


.form_wrap {
	max-width: 300px;
	margin: 0 auto;
	padding: 89px 0px 16px;
}

.form_wrap form {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.form_wrap label {
	display: block;
	margin-top: 13px;
}

.descount,
.termina {
	text-align: center;
}

.termina {
	margin-bottom: 10px;
}

.descount {
	color: #3578e5;
	font-size: 27px !important;
	font-weight: bold;
	margin-bottom: 13px;
}

.horas {
	display: flex;
	justify-content: center;
	color: #80808069;
}

.horas div {
	text-align: center;
	margin-right: 5px;
	font-weight: bold;
}

#price {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 36px;
	color: #000;
}

#price .price_new {
	font-weight: bold;
	font-size: 30px;
}

#price .price_old {
	font-size: 20px;
	text-decoration: line-through;
}

.form input {
	display: block;
	border: 1px solid rgb(31, 71, 203);
	height: 31px;
	padding-left: 10px;
	width: 100%;
	margin: 0 auto;
}

.inp_name {
	margin: 13px auto 0;
}

.inp_phone {
	margin: 13px auto 8px;
}

.form button.btnn {
	background: rgb(31, 71, 203);
	margin: 10px 0;
	border: 1px solid rgb(31, 71, 203);
	color: white;
	font-weight: bold;
	padding: 20px 10px;
	letter-spacing: 3px;
}

.sus {
	display: flex;
}

.sus_wrwp_img {
	width: 15px;
	margin-right: 5px
}

.sus_wrwp_img img {
	width: 100%
}

.sus_text {
	color: gray;
	font-size: 12px;
}

.comments_repost_img img {
	transform: scale(1.1);
}

.formFb__text {
	display: block;
	margin: 0;
}

.formFb__price {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formFb__price--p {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formFb__price--old {
	font-size: 2em;
	text-decoration: line-through;
	margin: 15px auto 10px;
	color: grey;
}

.formFb__price--txt {
	margin-bottom: .15em;
	font-weight: bold;
	font-size: 1.25em;
}

.formFb__price--new {
	font-size: 2em;
	font-weight: bold;
	color: #f20;
	line-height: 1;
	position: relative;
}

.formFb__timer {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}

.formFb__timer p {

	margin-bottom: .35em;
}

.formFb__timer .timer {
	display: flex;
	font-size: 2em;
	color: rgb(88, 88, 88);
}

.formFb__timer .timer .hour {
	margin-right: .15em;
}

.formFb__timer .timer .minute {
	margin: 0 .15em;
}

.formFb__timer .timer .second {
	margin-left: .15em;
}

.thanx {
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin: 20px 0;
	width: 100%;
}

.thanx img {
	margin: 0px;
}

.thanx::before {
	left: 21.5%;
	top: 50%;
	width: 16%;
	height: 2px;
	position: absolute;
	background: url('../img/dash.svg') no-repeat center center/cover;
	content: '';
}


.thanx::after {
	left: 61.5%;
	top: 50%;
	width: 16%;
	height: 2px;
	position: absolute;
	background: url('../img/dash.svg') no-repeat center center/cover;
	content: '';
}

.thanx img {
	width: 50px !important;
	height: 50px !important;
	margin: 0 !important;
}
/* 
@media (max-width:340px) {
	.thanx::after {
		 left: 64%;
	}
} */

.marginform {
	text-align: center;
	font-size: 14px;
}

.com-btn {
	width: 100%;
}